body{
    background-image: linear-gradient(75deg,rgb(241, 191, 134),rgb(255, 200, 246));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img{
    width: 200px;
    border-radius: 70px;
}